

<html>
<head>
  <title>Secret and Cover Image</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <style>
  body
  {
  background-color:rgb(80, 150, 176);
  }
  </style>
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/upload"><h3>Home</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/success"><h3>Change Secret Image</h3></a>
        </li>
          </ul>
    </div>
  </div>
</nav>
<div class="container"><br><br><br><br><br><br>
  <center><strong><h1 style="color:white";>UPLOADED IMAGES<strong></h1><br><br></center>
  <div class="row">
    <div class="col-md-4" left="350px">
      <div class="thumbnail">
       
          <img src="{{ url_for('static', filename='cover_image.png') }}" style="height:128px;width:128px" >
          <div class="caption">
             <center><p>COVER IMAGE</p></center>
          </div>
      </div>
    </div>
	<div class="col-md-4" left="150px">
      <div class="thumbnail">
        
          <img src="{{ url_for('static', filename='secret_image.png') }}" style="height:128px;width:128px" >
          <div class="caption">
             <center><p>SECRET IMAGE</p></center>
          </div>
      </div>
    </div>
	<div class="col-md-4" left="150px">
      <div class="thumbnail">
          <img src="{{ url_for('static', filename='container_image.png') }}" style="height:128px;width:128px" >
          <div class="caption">
             <center><p>CONTAINER IMAGE</p></center>
          </div>
      </div>
    </div>
 
</div>

<form action = "/download" method = "post" enctype="multipart/form-data">  

<div class="wrapper">
<center><button type="Submit" value="Predict"  class="btn btn-outline-warning">Download Container Image</button></center>
</div>  
    
</form>




</body>
</html>
    